[% start_year=2021 %]
[% MACRO example(file) BLOCK %]
[%- pl =  file _ ".pl" -%]
[%- out = file _ "-out.txt" -%]
[% INCLUDE $pl | xtidy %]

produces output

[% INCLUDE $out | xtidy %]

(This example is included as L<F<[% pl %]>|https://fastapi.metacpan.org/source/BKB/Text-LooksLike-[% info.version %]/examples/[% pl %]> in the distribution.)
[% END %]
[% MACRO since(version) BLOCK -%]
This method was added in version [% version %] of the module.
[%- END %]
=encoding UTF-8

=head1 NAME

[% info.colon %] - make guesses about snippets of text

=head1 SYNOPSIS

    use [% info.colon %];

=head1 VERSION

This documents version [% info.version %] of [% info.name %]
corresponding to L<git commit [% commit.commit %]|[% info.repo
%]/commit/[% commit.commit %]> released on [% commit.date %].

=head1 DESCRIPTION

Given a small piece of arbitrary text, try to guess what it might
contain. For example, the text might be a web address, some database
SQL, the path to /etc/passwd, a person's name, a number, or random
ASCII characters.

=head1 FUNCTIONS

=head2 looks_like

    my $guess = looks_like ($text);

Returns a guess about what the text looks like. The result is an
English word describing what it thinks the contents might be.

[% INCLUDE "author" %]
